doctype 5
html
    {% macro title() -%}
    {% block title %}{% endblock %}
    {%- endmacro %}
    head
        meta(name="viewport", content="initial-scale=1.0")
        meta(charset="utf-8")
        title {{ title() }} - Victims.zone
        link(href="{{ url_for('static', filename='css/app.css') }}",
             media="screen",
             rel="stylesheet")
    body
        #root
            {% include '_navbar.jade' %}
            {% block body %}{% endblock %}
        script(src="https://code.jquery.com/jquery-1.10.2.min.js")
        script(src="{{ url_for('static', filename='js/bootstrap.min.js') }}")