.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/')
        i.icon-logo
        | V
        small
            span.text-uppercase ictims
            small .zone
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      p.navbar-text {{ title() }}
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a#download.dropdown-toggle(data-toggle='dropdown', href='#')
            | Add
            span.caret
          ul.dropdown-menu(aria-labelledby='download')
            li
              a(href='/data/add/single') Single record
            li.divider
            li
              a(href='/data/add/summary') Summary info
        // li.dropdown
        //   a#download.dropdown-toggle(data-toggle='dropdown', href='#')
        //     | Login
        //     span.caret
        //   ul.dropdown-menu(aria-labelledby='download')
        //     li
        //       a(href='http://jsfiddle.net/bootswatch/q0gdqa1q/') Facebook
        //     li.divider
        //     li
        //       a(href='./bootstrap.min.css') 4 Judges